*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: sans-serif;
}

.header > h1{
  font-weight: 400;
}

main{
  padding: 30px 30px 10px;
  
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: red;
  height: 108px;
}

.chefImg{
  border-radius: 50%;
  width: 100px;
}

.title{

  margin-top: 25px;
}

.add-ingredient-form{
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input{
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button{
  font-family: sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 750;
}

.add-ingredient-form > button::before{
  content: "+";
  margin-right: 5px;
}