*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: sans-serif;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: red;
  height: 108px;
}

.chefImg{
  border-radius: 50%;
  width: 100px;
}

.title{

  margin-top: 25px;
}